<mat-toolbar color="primary">
    <span>FORO DE DISCUSION</span>

    <span class="example-spacer"></span>

    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>

    <span class="example-spacer"></span>


</mat-toolbar>



<!-- <mat-form-field class="ancho" appearance="fill">
    <mat-label>Usuario</mat-label>
    <input type="text" matInput formControlName="usuario">
</mat-form-field> -->