mat-card {
    background-color: aqua;
    margin: 1px;
} 

/* .simple-card-m {
    margin-top: 10px;
}    

.ancho {
    width: 80%;
}

.espacio--derecha {
    margin-right: 20px;
} */

/*El tamaño de una tablet es 420px*/
/* @media screen and (max-width: 420px) {
    .container{
        margin: 0px;
    }

    .simple-card-m {
        margin-top: 10px;
    }    
    
    .ancho {
        width: 80%;
    }
    
    .espacio--derecha {
        margin-right: 20px;
    }
} */

