<div class="container">
     <mat-toolbar>
        <span> Crear Usuario</span>
    </mat-toolbar>

    <mat-card class="simple-card-m">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">

            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombres</mat-label>
                        <input title="Nombre solo acepta letras y espacios" matInput autocomplete="off" formControlName="nombres"> 
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/img/user.png" alt="usuario" width="250" height="250">
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input title="Ingrese un email valido" matInput autocomplete="off" formControlName="email">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Usuario</mat-label>
                        <input title="Ingrese un usuario" matInput autocomplete="off" formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Password</mat-label>
                        <input title="Ingrese una contraseña" matInput autocomplete="off" formControlName="password">
                    </mat-form-field>
                </mat-grid-tile>

                <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Fecha</mat-label>
                        <input type="date" matInput autocomplete="off" formControlName="fecha">
                    </mat-form-field>
                </mat-grid-tile> -->

                <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Hora</mat-label>
                        <input type="time" matInput autocomplete="off" formControlName="hora">
                    </mat-form-field>
                </mat-grid-tile> -->

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Repetir</mat-label>
                        <input title="Repita su contraseña" matInput autocomplete="off" formControlName="repetir">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <!-- <button mat-raised-button class="espacio-derecha" (click)="Volver()">Volver</button> -->
                    <button mat-raised-button color="primary" type="submit" *ngIf="adicionar === true">Guardar</button>
                    <!-- <button mat-raised-button color="primary" type="submit" *ngIf="adicionar === false">Modificar</button> -->
                </mat-grid-tile>
                    
            </mat-grid-list>
        </form>
    </mat-card>
</div>

{{ form.valid }}
    