*{
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    /* background-color: black; */
    /* color: white; */
    color: black;
}

a {
    /* color: red; */
    color: blue;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}

/*Para el Foro*/
.container {
    margin: 20px;
    padding: 20PX;
}

.subforum {
    margin-top: 20px;
}

.subforum-title {
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    /* background-color: black; */
    background-color: aqua;
}

.subforum-description *{
    margin-block: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    font-size: 45px;
}

.subforum-devider {
    display: none;
}

/*   Header Section    */

header{
    margin-inline: 10px;
}
  /* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:#52057b;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

/* @font-face {
    font-family:aquire;
    src:url(aquire.otf);
} */

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
}

 /* Search Box styles */
 .search-box{
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

/* .search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
} */

/* .search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
} */


/* forum info Styling */
.forum-info{
    padding: 20px;
    /* background-color: #111314; */
    background-color: white;
}

/* .chart{
    font-size:20px;
    font-weight:bold;
} */
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    text-align: center;
}

/*POSTS*/

/* posts table's head  */
.table-head{
    display: flex;
}

/*PARA LA PARTE DE ARRIBA DE LA TABLA*/
.table-head div{
    padding: 5px;
    margin: 2px;
    /* background-color: #2C2C2C; */
    background-color: aquamarine;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}
/*PARA EL FONDO TOTAL*/
.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    /* background-color: #131415; */
    background-color: rgb(182, 249, 227);
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    /* color: rgb(44, 40, 40) */
    color: blue;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    /* color: #fff; */
    color: blue;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px black;
}

.pagination a:hover{
    opacity: 0.5;
}


/*PARA EL DE ABAJO DE QUE ESTA AZUL*/
.note{
    /* background-color:#111314; */
    background-color: blue;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}



/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    /* background-color: #2C2C2C; */
    background-color: blue;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    /* background-color: #131415; */
    background-color: aqua;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}


/*El tamaño de una tablet es 768px*/
/* @media screen and (max-width: 768px) {
    body {
        margin: 0px;
        margin-top: -30px;
        font-size: 20px;
    }

    header {
        padding: 100px;
    }

    header img {
        width: 150px;
        height: 150px;
        float: right;
        padding: 15px;
        border: 1px solid black;
        margin-right: -50%;
        margin-top: 30px;
    }

    header h1 {
        text-align: center;
    }

    header ul li {
        list-style: none;
        margin-left: -60px;
        margin-right: 10px;
    }

    header .Sobremi {
        padding-right: 100px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .Estudiosrealizados ul li i {
        margin-left: -20px;
        margin-right: 5px;
    }
} */

/*El tamaño de una tablet es 420px*/
/* @media screen and (max-width: 420px) {
    body {
        margin: 0px;
        margin-top: -30px;
        font-size: 20px;
    }

    header {
        padding: 0px;
    }

    header img {
        width: 150px;
        height: 150px;
        float: right;
        padding: 15px;
        border: 1px solid black;
        margin-right: -50%;
        margin-top: 30px;
    }

    header h1 {
        text-align: center;
    }

    header ul li {
        list-style: none;
        margin-left: -60px;
        margin-right: 10px;
    }

    header .Sobremi {
        padding-right: 100px;
        margin-left: -40px;
        margin-right: -40px;
    }

    .Estudiosrealizados ul li i {
        margin-left: -20px;
        margin-right: 5px;
    }
} */