    <!-- <mat-toolbar>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario/nuevo">Registrate</button>
    </mat-toolbar> -->

<!-- <div class="container">

    <div class="body">
        <div class="login">
            <form id="formulario-registro" [formGroup]="formulario" (ngSubmit)="guardar()">
                <div class="form-block" id="grupo-usuario">
                    <div class="row">
                        <label for="fnombre" class="lbl">
                            Nombre :
                        </label>
                    </div>
                    <input 
                    type="text" 
                    id="nombre" 
                    class="form-control" 
                    placeholder="Nombre"
                    formControlName="nombre"
                    [class.is-invalid]="nombreNoValido">
                    <small class="text-danger" *ngIf="nombreNoValido">
                        Ingrese mas de 3 letras
                    </small>
                </div>
                <div class="form-block" id="grupo-Email">
                    <div class="row">
                        <label for="femail" class="lbl">
                            Email :
                        </label>
                    </div>
                    <input 
                    type="text" 
                    id="email" 
                    class="form-control" 
                    placeholder="Email"
                    formControlName="email"
                    [class.is-invalid]="emailNoValido">
                    <small class="text-danger" *ngIf="emailNoValido">
                        Ingrese un email valido
                    </small>
                </div>
    
                <div class="form-block" id="grupo-Contraseña">
                    <div class="row">
                        <label for="fusuario" class="lbl">
                            Usuario :
                        </label>
                    </div>
                    <input 
                    type="text" 
                    id="fusuario" 
                    class="form-control" 
                    placeholder="Usuario"
                    formControlName="usuario"
                    [class.is-invalid]="usuarioNoValido">
                    <small class="text-danger" *ngIf="usuarioNoValido">
                        Ingrese un nombre de usuario
                    </small>
                    <small class="text-danger" *ngIf="usuarioIgualJerjer">
                        El nombre de usuario ya esta en uso
                    </small>
                </div>
    
                <div class="form-block" id="grupo-Contraseña">
                    <div class="row">
                        <label for="fcontraseña" class="lbl">
                            Contraseña :
                        </label>
                    </div>
                    <input 
                    type="password" 
                    id="fcontraseña" 
                    class="form-control" 
                    placeholder="Contraseña"
                    formControlName="password1"
                    [class.is-invalid]="password1NoValido"> 
                </div>
    
               <div class="form-block" id="grupo-Contraseña">
                    <div class="row">
                        <label for="fcontraseña" class="lbl">
                            Repita :
                        </label>
                    </div>
                    <input 
                    type="password" 
                    id="fcontraseña2" 
                    class="form-control" 
                    placeholder="Contraseña2"
                    formControlName="password2"
                    [class.is-invalid]="password2NoValido">
                </div>
    
                <div class="form-block" id="grupo-Enviar">
                    <button type="submit" class="btn" [disabled]="formulario.invalid">Registrase</button>
                </div>
    
            </form>
        </div>
    </div>

</div>
{{formulario.valid }} -->

<!-- <div class="container">

    <mat-card class="simple-card-m">
        <form [formGroup]="formulario" (ngSubmit)="guardar()">

            <mat-grid-list cols="4" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombres</mat-label>
                        <input 
                        title="Nombre solo acepta letras y espacios" 
                        matInput autocomplete="off"
                        formControlName="nombre"
                        [class.is-invalid]="nombreNoValido"> 
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/img/user.png" alt="usuario" width="250" height="250">
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input 
                        title="Ingrese un email valido" 
                        matInput autocomplete="off"
                        formControlName="email"
                        [class.is-invalid]="emailNoValido">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Usuario</mat-label>
                        <input 
                        title="Ingrese un usuario" 
                        matInput 
                        autocomplete="off"
                        formControlName="usuario"
                        [class.is-invalid]="usuarioNoValido">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Password</mat-label>
                        <input 
                        title="Ingrese una contraseña" 
                        matInput 
                        autocomplete="off" 
                        formControlName="password1"
                        [class.is-invalid]="password1NoValido">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Repetir</mat-label>
                        <input 
                        title="Repita su contraseña" 
                        matInput autocomplete="off"
                        formControlName="password2"
                        [class.is-invalid]="password2NoValido">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Guardar</button>
                </mat-grid-tile>
                    
            </mat-grid-list>
        </form>
    </mat-card>
</div>

{{formulario.valid }}  -->

<div class="body">
    
  <div class="login">

    <!-- <mat-spinner diameter="50" class="spinner" *ngIf="adicionar"></mat-spinner> -->

    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <!-- <img src="./assets/img/user.png" alt="imagen de usuario"> *ngIf="!adicionar" -->
      <h1>Registro de Usuarios</h1>

      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Nombre</mat-label>
        <input 
        type="text" 
        matInput 
        formControlName="nombre"
        [class.is-invalid]="nombreNoValido">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Email</mat-label>
        <input 
        type="email" 
        matInput 
        formControlName="email"
        [class.is-invalid]="emailNoValido">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Usuario</mat-label>
        <input 
        type="text" 
        matInput 
        formControlName="usuario"
        [class.is-invalid]="usuarioNoValido">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Contraseña</mat-label>
        <input 
        type="password" 
        matInput 
        formControlName="password1"
        [class.is-invalid]="password1NoValido">
      </mat-form-field>
    
      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Repetir</mat-label>
        <input 
        type="password" 
        matInput 
        formControlName="password2"
        [class.is-invalid]="password2NoValido">
      </mat-form-field>

      <br>
      <button type="submit" class="ancho boton" mat-raised-button color="primary" [disabled]="formulario.invalid">Guardar</button>
    </form>
  </div>

</div>

{{formulario.valid }} 
